.DS_Store

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

*.zip
error_log
error_log.txt
.htaccess
composer.phar
uploads/*
!uploads/index.html
application/vendor/*
vendor/*
/vendor/
/nbproject/
.idea/*

old_idwebhost

application/logs/*
!application/logs/index.html
!application/logs/.htaccess

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

x-adm/application/logs/*
!x-adm/application/logs/index.html
!x-adm/application/logs/.htaccess

x-adm/application/cache/*
!x-adm/application/cache/index.html
!x-adm/application/cache/.htaccess

x-adm/application/vendor/*
x-adm/vendor/*
# Configuration files #
#######################
application/config/config.php 
application/config/database.php
application/config/constants.php
x-adm/application/config/config.php 
x-adm/application/config/database.php
x-adm/application/config/constants.php

