<table>
    <thead>
      <tr>
        <th>No</th>
        <th>NOMOR_DOK_LAIN</th>
        <th>TANGGAL_DOK_LAIN</th>
        <th>MASA_PAJAK</th>
        <th>TAHUN_PAJAK</th>
        <th>NPWP</th>
        <th>NAMA</th>
        <th>ALAMAT_LENGKAP</th>
        <th> JUMLAH_DPP </th>
        <th> JUMLAH_PPN </th>
        
      </tr>
    </thead>
    <tbody>
    {list}

      <tr>
        <td>{no}</td>
        <td>{no_dokumen_lain}</td>
        <td>{tanggal_dokumen_lain}</td>
        <td>{masa_pajak}</td>
        <td>{tahun_pajak}</td>
        <td>{npwp}</td>
        <td>{nama}</td>
        <td>{alamat_faktur_pajak}</td>
        <td>{jumlah_dpp}</td>
        <td>{jumlah}</td>
        
        
      </tr>
      {/list}
    </tbody>
</table>