<table cellpadding="5" cellspacing="5" border="1">
    <thead>
        <tr>
            <th style="width:30px;">No.</th>
            <th style="width:200px;">Customer ID</th>
            <th style="width:200px;">Name </th>
            <th style="width:200px;">Email</th>
            <th style="width:200px;">Phone</th>
            <th style="width:200px;">Phone(2)</th>
            <th style="width:200px;">Create Date</th>
    </thead>

    {list}
        <tbody>
            <tr>
                <td>{no}</td>
                <td>{customer_id}</td>
                <td>{name}</td>
                <td>{email}</td>
                <td>{phone}</td>
                <td>{phone2}</td>
                <td>{create_date}</td>
            </tr>
        </tbody>
    {/list}
</table>