<table cellpadding="5" cellspacing="5" border="1">
    <thead>
        <tr>
            <th style="width:30px;">Name</th>
            <th style="width:200px;">Customer ID</th>
            <th style="width:200px;">Phone </th>
            <th style="width:200px;">Email</th>
            <th style="width:200px;">Program</th>
            <th style="width:200px;">Problem</th>
            <th style="width:200px;">Day Problem</th>
            <th style="width:200px;">Address</th>
            <th style="width:200px;">Status</th>
            <th style="width:200px;">Create Date</th>
    </thead>

    {list}
        <tbody>
            <tr>
                <td>{name}</td>
                <td>{customer_id}</td>
                <td>{phone}</td>
                <td>{email}</td>
                <td>{program}</td>
                <td>{problem}</td>
                <td>{day_problem}</td>
                <td>{address}</td>
                <td>{status}</td>
                <td>{create_date}</td>
            </tr>
        </tbody>
    {/list}
</table>