<table cellpadding="5" cellspacing="5" border="1">
    <thead>
        <tr>
            <th style="width:30px;">No.</th>
            
            <th style="width:200px;">Name </th>
            <th style="width:200px;">Kode Pemasangan </th>
            <th style="width:200px;">Email</th>
            <th style="width:200px;">Gender</th>
            <th style="width:200px;">Phone </th>
            <th style="width:200px;">Hp </th>
            <th style="width:200px;">Step</th>
            <th style="width:200px;">Create Date </th>
            
            

            
            
        
    </thead>

    {list}
    <tbody>
        <tr>
            <td>{no}</td>
           
            <td>{first_name}</td>
            <td>{kode_pemasangan}</td>
            <td>{email}</td>
            <td>{gender}</td>
            <td>{no_phone}</td>
            <td>{no_hp}</td>
            <td>{step}</td>
            <td>{created_date}</td>
            
        
            
        </tr>
    </tbody>
    {/list}
</table>